<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pet.manager.mapper.ServicesMapper">

    <resultMap type="Services" id="ServicesResult">
        <result property="serviceId"    column="service_id"    />
        <result property="serviceTypeId"    column="service_type_id"    />
        <result property="empId" column="emp_id" />
        <result property="serviceType"    column="service_type"    />
        <result property="serviceStatus"    column="service_status"    />
        <result property="policyId"    column="policy_id"    />
        <result property="description"    column="description"    />
        <result property="includeWalk"    column="include_walk"    />
        <result property="specialRequirements"    column="special_requirements"    />
        <result property="createdAt"    column="created_at"    />
        <result property="createdBy"    column="created_by"    />
        <result property="updatedAt"    column="updated_at"    />
        <result property="updatedBy"    column="updated_by"    />
    </resultMap>

    <resultMap type="ServicesVo" id="ServicesVoResult">
        <result property="serviceId"    column="service_id"    />
        <result property="serviceTypeId"    column="service_type_id"    />
        <result property="empId" column="emp_id" />
        <result property="serviceType"    column="service_type"    />
        <result property="serviceStatus"    column="service_status"    />
        <result property="policyId"    column="policy_id"    />
        <result property="description"    column="description"    />
        <result property="includeWalk"    column="include_walk"    />
        <result property="specialRequirements"    column="special_requirements"    />
        <result property="createdAt"    column="created_at"    />
        <result property="createdBy"    column="created_by"    />
        <result property="updatedAt"    column="updated_at"    />
        <result property="updatedBy"    column="updated_by"    />
        <association property="serviceTypes" javaType="ServiceTypes" column="service_type_id"
                     select="com.pet.manager.mapper.ServiceTypesMapper.selectServiceTypesByServiceTypeId" />
        <association property="fosterRooms" javaType="FosterRooms" column="room_number"
                     select="com.pet.manager.mapper.FosterRoomsMapper.selectFosterRoomsByRoomNumber" />
    </resultMap>

    <sql id="selectServicesVo">
        select service_id, service_type_id, emp_id, service_type, service_status, policy_id, description,  include_walk, special_requirements, created_at, created_by, updated_at, updated_by from tb_services
    </sql>

    <select id="selectServicesList" parameterType="Services" resultMap="ServicesResult">
        <include refid="selectServicesVo"/>
        <where>
            <if test="serviceType != null  and serviceType != ''"> and service_type = #{serviceType}</if>
            <if test="serviceStatus != null  and serviceStatus != ''"> and service_status = #{serviceStatus}</if>
            <if test="policyId != null and policyId != ''">policy_id = #{policyId}</if>
        </where>
    </select>

    <select id="selectServicesByServiceId" parameterType="Long" resultMap="ServicesResult">
        <include refid="selectServicesVo"/>
        where service_id = #{serviceId}
    </select>
    <select id="selectServicesVoList" resultMap="ServicesVoResult">
        <include refid="selectServicesVo"/>
        <where>
            <if test="serviceType != null  and serviceType != ''"> and service_type = #{serviceType}</if>
            <if test="serviceStatus != null  and serviceStatus != ''"> and service_status = #{serviceStatus}</if>
            <if test="policyId != null and policyId != ''">policy_id = #{policyId}</if>
            <if test="serviceTypeId != null and serviceTypeId != ''">service_type_id = #{serviceTypeId}</if>
        </where>
    </select>
    <select id="selectServicesByServiceTypeId" resultMap="ServicesResult">
        <include refid="selectServicesVo"/>
        where service_type_id = #{serviceTypeId}
    </select>

    <insert id="insertServices" parameterType="Services" useGeneratedKeys="true" keyProperty="serviceId">
        insert into tb_services
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serviceTypeId != null">service_type_id,</if>
            <if test="empId != null">emp_id,</if>
            <if test="serviceType != null and serviceType != ''">service_type,</if>
            <if test="serviceStatus != null and serviceStatus != ''">service_status,</if>
            <if test="policyId != null">policy_id,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="includeWalk != null">include_walk,</if>
            <if test="specialRequirements != null">special_requirements,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="updatedAt != null">updated_at,</if>
            <if test="updatedBy != null">updated_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serviceTypeId != null">#{serviceTypeId},</if>
            <if test="empId != null">#{empId},</if>
            <if test="serviceType != null and serviceType != ''">#{serviceType},</if>
            <if test="serviceStatus != null and serviceStatus != ''">#{serviceStatus},</if>
            <if test="policyId != null">#{policyId},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="includeWalk != null">#{includeWalk},</if>
            <if test="specialRequirements != null">#{specialRequirements},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
         </trim>
    </insert>

    <update id="updateServices" parameterType="Services">
        update tb_services
        <trim prefix="SET" suffixOverrides=",">
            <if test="serviceTypeId != null">service_type_id = #{serviceTypeId},</if>
            <if test="empId != null">emp_id = #{empId},</if>
            <if test="serviceType != null and serviceType != ''">service_type = #{serviceType},</if>
            <if test="serviceStatus != null and serviceStatus != ''">service_status = #{serviceStatus},</if>
            <if test="policyId != null">policy_id = #{policyId},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="includeWalk != null">include_walk = #{includeWalk},</if>
            <if test="specialRequirements != null">special_requirements = #{specialRequirements},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
        </trim>
        where service_id = #{serviceId}
    </update>

    <delete id="deleteServicesByServiceId" parameterType="Long">
        delete from tb_services where service_id = #{serviceId}
    </delete>

    <delete id="deleteServicesByServiceIds" parameterType="String">
        delete from tb_services where service_id in
        <foreach item="serviceId" collection="array" open="(" separator="," close=")">
            #{serviceId}
        </foreach>
    </delete>
</mapper>
